PORT=3000
CLIENT_ORIGINS=http://localhost:5173
MONGO_URI=enter mongodb url
JWT_SECRET=key
JWT_EXPIRES_IN=7d
GROQ_API_KEY=api key
GROQ_MODEL=llama-3.3-70b-versatile
GROQ_BASE_URL=https://api.groq.com/openai/v1
